<div class="postblock" id="newpost">
    <form class="form-group form-newpost" action="{% url 'addpost' %}" method="post" enctype="multipart/form-data">
        <h4>Create a New Post</h4>
        {% csrf_token %}
        <textarea class="form-control form-newpost-text" name="post_text" rows="4"></textarea>
        <div class="preview-postphotos" id="preview-postphotos"></div>
        <div class="form-newpost-btns">
            <input class="btn btn-primary form-newpost-submit-btn" type="submit" value="Post">
            <!-- <input class="btn btn-outline-primary form-newpost-addphotos" type="button" value="Add Photos"> -->
            <div></div>
            <label for="upload-img-newpost">
                <div id="addphotos-btn-newpost" class="btn btn-outline-primary form-newpost-addphotos-btn">
                    Add Photos
                </div>
            </label>
            <input class="form-control form-newpost-addphotos" 
                type="file" 
                id="upload-img-newpost"
                name="addphotos-newpost"
                accept="image/*"
                multiple>
        </div>
        <input type="hidden" name="page_rendering" value="{{page_rendering}}">
        <!-- <input type="hidden" name="page_number" value="{{page_number}}"> -->
    </form>
</div> 