{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h2>Following</h2>

    {% if message %}
        <div class="index-message">
            <hr>
            {{ message }} <br>
            <hr>
        </div>
    {% endif %}

    {% for post in page_obj %}
        <div class="postwrap">
            {% include "network/postblock.html" with post=post page_rendering="following" %}

            <div class="commentblock" id="commentblock-{{post.id}}">
                <div class="showcomment">
                    {% include "network/addcomment.html" with page_rendering="following" %}
                    {% for comment in post.comments.all|dictsortreversed:"timestamp" %}
                        <span class="commentwrap">
                            <hr>
                            {% include "network/commentblock.html" with comment=comment page_rendering="following" %}
                        </span>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

    {% include "network/pagination.html" with page_obj=page_obj%}
    
{% endblock %}

{% block script %}
    <script src="{% static 'network/util_functions.js' %}"></script> 
    <!-- <script src="{% static 'network/newpost_functions.js' %}"></script>  -->
    <script src="{% static 'network/post_functions.js' %}"></script>
    <script src="{% static 'network/comment_functions.js' %}"></script>
    <script src="{% static 'network/following.js' %}"></script>
{% endblock %}