{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h2>All Posts</h2>

    {% if message %}
        <div class="index-message">
            <hr>
            {{ message }} <br>
            <button class="btn btn-outline-primary" id="newpost-btn">▼ What are you thinking?</button>
            {% if user.is_authenticated %}
                {% include "network/addpost.html" with page_number=page_obj.number page_rendering="index" %}
            {% else %}
                {% include "network/addpost_unauth.html" %}
            {% endif %}
            <hr>
        </div>
    {% else %}
        <button class="btn btn-outline-primary" id="newpost-btn">▼ What are you thinking?</button>
        {% if user.is_authenticated %}
            {% include "network/addpost.html" with page_number=page_obj.number page_rendering="index" %}
        {% else %}
            {% include "network/addpost_unauth.html" %}
        {% endif %}
    {% endif %}

    {% for post in page_obj %}
        <div class="postwrap" id="postwrap-{{post.id}}">
            {% include "network/postblock.html" with post=post page_number=page_obj.number page_rendering="index"%}

            <div class="commentblock" id="commentblock-{{post.id}}">
                <div class="showcomment">
                    {% if user.is_authenticated %}
                        {% include "network/addcomment.html" with page_rendering="index" page_number=page_obj.number page_rendering="index" %}
                    {% else %}
                        {% include "network/addcomment_unauth.html" %}
                    {% endif %}
                    {% for comment in post.comments.all|dictsortreversed:"timestamp" %}
                        <div class="commentwrap" id="commentwrap-{{comment.id}}">
                            <hr>
                            {% include "network/commentblock.html" with comment=comment page_number=page_obj.number page_rendering="index" %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

    {% include "network/pagination.html" with post_obj=post_obj %}
    
{% endblock %}

{% block script %}
    <script src="{% static 'network/util_functions.js' %}"></script> 
    <script src="{% static 'network/newpost_functions.js' %}"></script> 
    <script src="{% static 'network/post_functions.js' %}"></script>
    <script src="{% static 'network/comment_functions.js' %}"></script>
    <!-- <script src="{% static 'network/newcomment_functions.js' %}"></script> -->
    <script src="{% static 'network/photoupload_functions.js' %}"></script>
    <!-- <script src="{% static 'network/editcomment.js' %}"></script> -->
    {% if user.is_authenticated %}
        <script src="{% static 'network/authenticated.js' %}"></script>
        {% if action == "addcomment" or action == "editcomment" %}
            <script src="{% static 'network/commentbtn_functions_savestate.js' %}"></script>
        {% else %}
            <script src="{% static 'network/commentbtn_functions_resetstate.js' %}"></script>
        {% endif %}
    {% else %}
        <script src="{% static 'network/unauthenticated.js' %}"></script>
    {% endif %}
{% endblock %}