{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h2>All Posts</h2>

    {% if message %}
        <div class="index-message">
            <hr>
            {{ message }} <br>
            <button class="btn btn-outline-primary" id="newpost-btn">▼ What are you thinking?</button>
            {% include "network/addpost.html" with page_rendering="index" %}
            <hr>
        </div>
    {% else %}
        <button class="btn btn-outline-primary" id="newpost-btn">▼ What are you thinking?</button>
        {% include "network/addpost.html" with page_rendering="index" %}
    {% endif %}

    {% for post in page_obj %}
        <div class="postwrap" id="postwrap-{{post.id}}">
            {% include "network/postblock.html" with post=post page_rendering="index" %}

            <div class="commentblock" id="commentblock-{{post.id}}">
                <div class="showcomment">
                    {% include "network/addcomment.html" with page_rendering="index" %}
                    {% for comment in post.comments.all|dictsortreversed:"timestamp" %}
                        <span class="commentwrap">
                            <hr>
                            {% include "network/commentblock.html" with comment=comment %}
                        </span>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

    {% include "network/pagination.html" with post_obj=post_obj %}
    
{% endblock %}

{% block script %}
    <script src="{% static 'network/util_functions.js' %}"></script> 
    <script src="{% static 'network/newpost_functions.js' %}"></script> 
    <script src="{% static 'network/post_functions.js' %}"></script>
    <script src="{% static 'network/comment_functions.js' %}"></script>
    {% if user.is_authenticated %}
        <script src="{% static 'network/authenticated.js' %}"></script>
    {% else %}
        <script src="{% static 'network/unauthenticated.js' %}"></script>
    {% endif %}
{% endblock %}