<div class="postblock">
    <div class="showpost">
        <div class="showpost-grid">
            <a class="user-direct" href="{% url 'profile' username=post.owner.username %}">
                <img src="{{post.owner.profile_img.url}}" class="showpost-profile-img">
            </a>
            <div class="showpost-info">
                <a class="user-direct" href="{% url 'profile' username=post.owner.username %}">
                    <div class="display_name">{{ post.owner.display_name }}</div> 
                    <div class="username">@{{ post.owner.username }}</div><br>
                </a>

                <div class="timestamp post-hide-when-edit-{{post.id}}" id="post-timestamp-{{post.id}}">
                    {{ post.timestamp }}
                </div>

                <div class="post edittext post-show-when-edit-{{post.id}}" id="post-edittext-{{post.id}}">
                    <form class="post form-group form-editpost" action="{% url 'editpost' post_id=post.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <textarea class="post form-control form-editpost-text" name="edit_post_text" rows="4">{{post.text}}</textarea>
                        <div class="post-img-wrap-editpost" id="post-img-wrap-editpost-{{post.id}}">
                            {% if not post.post_image.all %}
                            {% endif %}
                        </div>
                        <div class = "post editing-btns">
                            <span id="editing-comment-btn-{{post.id}}"></span>
                            <span></span>
                            <input class="post btn btn-sm btn-primary post-edit-submit-btn edit-submit-btn" id="post-edit-submit-btn-{{post.id}}" type="submit" value="Submit">
                            <button class="post btn btn-sm btn-outline-primary post-edit-cancel-btn edit-cancel-btn" id="post-edit-cancel-btn-{{post.id}}" type="button">Cancel</button>
                            <label for="upload-img-editpost-{{post.id}}">
                                <div id="addphotos-btn" class="btn btn-outline-primary">
                                    Add Photos
                                </div>
                            </label>
                            <input class="form-control upload-img-editpost"
                                    type="file"
                                    id="upload-img-editpost-{{post.id}}"
                                    name="addphotos-editpost"
                                    accept="image/*"
                                    multiple>
                        </div>
                        <div class="hidden-fields">
                            <input type="hidden" name="page_rendering" value="{{page_rendering}}">
                            <input type="hidden" name="page_number" value="{{page_number}}">
                            <input type="hidden" name="status" id="status" value="">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="text posttext post-hide-when-edit-{{post.id}}" id="post-text-{{post.id}}">
            {{ post.text }}
        </div>

        <span class="post-img-container">
            {% if post.post_image.all %}
                <div class="post-img-wrap post-hide-when-edit-{{post.id}}">
                    {% for image in post.post_image.all %}
                        <a href={{image.image.url}}>
                            <img class="post-img" src="{{ image.image.url }}">
                        </a>
                    {% endfor %}
                </div>
            {% endif %} 
        </span>

        <div class="like-comment-edit-btn" id="post-btns-{{post.id}}">
            {% csrf_token %}
            <button class="btn btn-sm btn-outline-primary like-btn" id="like-btn-{{post.id}}"></button>
            <span id="comment-btn-span-{{post.id}}">
                <button class="btn btn-sm comment-btn" id="comment-btn-{{post.id}}" type="button"></button>
            </span>
            <span></span>
            {% if post.owner == request.user %}
                <button class="btn btn-sm btn-outline-danger remove-btn post-hide-when-edit-{{post.id}}" id="remove-btn-{{post.id}}">Remove</button>
                <button class="btn btn-sm btn-outline-primary edit-btn post-hide-when-edit-{{post.id}}" id="edit-btn-{{post.id}}">Edit</button>
            {% endif %}
        </div>
    </div>
</div>