{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="userinfowrap" id="user-{{profile.id}}">
        <h2 class="profile-display-name">{{ profile.display_name }}</h2>
        <div class="username">{{ profile.username }}</div>
        {% if profile != request.user %}
            <!-- <span class="follow-btn-wrap" id="follow-btn-wrap-{{profile.id}}"> -->
            <button class="btn follow-btn" id="follow-btn-{{profile.id}}"></button>
        {% endif %} <br>
        <span class="followings">
            <strong>{{ profile.followings.count }}</strong> following
        </span>
        <span class="followers">
            <strong>{{ profile.followers.count }}</strong> follower
        </span>
    </div>

    {% if message %}
        <div class="profile-message">
            <hr>
            {{ message }}
            <hr>
        </div>
    {% endif %}

    {% for post in page_obj %}
        <div class="postwrap">
            {% include "network/postblock.html" with post=post %}

            <div class="commentblock" id="commentblock-{{post.id}}">
                <div class="showcomment">
                    {% include "network/addcomment.html" %}
                    {% for comment in post.comments.all|dictsortreversed:"timestamp" %}
                        <span class="commentwrap">
                            <hr>
                            {% include "network/commentblock.html" with comment=comment %}
                        </span>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

    {% include "network/pagination.html" with page_obj=page_obj%}
{% endblock %}

{% block script %}
    <script src="{% static 'network/util_functions.js' %}"></script> 
    <script src="{% static 'network/post_functions.js' %}"></script>
    <script src="{% static 'network/comment_functions.js' %}"></script>
    <script src="{% static 'network/follow_functions.js' %}"></script>
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}