// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";

$primary:teal;
$danger:darkred;

$theme-colors: (
    "primary":$primary,
    "danger":$danger
);

$link-decoration: none;
$link-color: $primary;
$link-hover-color:#20c997;

$navbar-padding-x:20px;
$navbar-light-color:white;
$navbar-light-brand-color:white;

@import "node_modules/bootstrap/scss/bootstrap";

body{
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    font-weight: bold;
}

.body {
    margin: 30px;
}

.postblock {
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    margin: 15px;
}

.commentblock {
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    margin: 15px;
    margin-left: 50px;
    margin-top: -10px;
}

#newpost-btn {
    margin-bottom: 10px;
    margin-top: 10px;
}

.text {
    margin-top: 3px;
    margin-bottom: 3px;
}

.timestamp {
    font-size: small;
    margin-bottom: 5px;
}

.form-newpost {
    margin: 20px;
}

.form-newpost-text {
    height: 3cm;
    /* width: 50%; */
    resize:horizontal;
    margin-bottom: 8px;
    margin-top: 8px;
}

.display_name {
    font-weight: bold;
    font-size: large;
    display:inline;
    text-decoration: none;
}

.username {
    color:gray;
    display:inline;
}

.showpost {
    margin: 20px;
}

.showcomment{
    margin: 20px;
}


.like-comment-edit-btn {
    display: grid;
    margin-top: 5px;
    grid-template-columns: auto auto 1fr auto auto;
    grid-column-gap: 0.25em;
    
    .edit-btn {
        justify-self: end;
    } 
}

.post.editing-btns{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-column-gap: 0.25em;
    margin-top: 5px;

    .post-edit-cancel-btn {
        justify-self: end;
    }
    
    .post-edit-submit-btn {
        justify-self: end;
    }
}

.follow-btn {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    position:relative;
    left:1%;
    margin-bottom: 5px;
}

.form-newcomment-submit {
    margin-top: 5px;
}

.editing-btns {
    margin-top: 5px;
    margin-bottom: -10px;
}

.profile-display-name {
    margin-bottom: 2px;
}
